
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    min-height: 200vh;
    overflow-x: hidden;
    background-color:  #f8f8ff;

}
main{
    margin: 120px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
  
    
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    
    
    
}

nav ul li{
    position: relative;
    list-style: none;
    position: relative;
    padding-right: 180px;
    padding-left: 20px;
    letter-spacing: 1px;
    transition: 0.2s;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: #1d202e;
    font-size: 21px;

}

nav img{
    width: 250px;
    height: auto;
    position: relative;
    float: left;
    padding-left: 110px;
    padding-top: 0px;
    transition: 0.6s;
}

.box{
    height: 1289px;
    width: 1600px;
    padding-left: 40px;
    background-color: #64bff76b;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 31%;
    padding-left: 850px;
}

.border{
    height: 1289px;
    width: 200%;
    padding-left: 40px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 31%;
    padding-left: 850px;
    border-bottom: solid #096FAE 5px;
}


.bakgrund{
    background: url(survey-1594962_1920.jpg) no-repeat 0 -230px ;
    height: 980px;
    transform: scale(1.1);
    z-index: -2;
    filter: blur(3.5px);
    background-size: cover;
}



#bild .slideshow{
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 2;
  float: left;
  font-size: 56px;
  line-height: 25px;
  padding-top: 175px;
  padding-bottom: 8%;
  
  padding-left: 370px;
  color: #252525;
  
  
    
}
.highlight{
    color: #096FAE;
}
.namn{
    font-size: 30px;
    color:#2525259d;
    line-height: 10px;
}

nav ul li a:hover{
    color: #169ef3bb;
   

}



nav.sticky{
    padding: 25px 100px;
    background-color: #f8f8ff;  
    
}
nav.sticky ul li a{
color: #252525;

}
nav.sticky ul li a:hover{
    color: #169EF3;
    
}
.banner{
    position: relative;
    width: 100%;
}




