
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    min-height: 200vh;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
  
    
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    
    
}

nav ul li{
    position: relative;
    list-style: none;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: #1d202e;
    font-size: 19px;
    position: relative;
    padding-right: 120px;
    padding-left: 20px;
    letter-spacing: 1px;
    transition: 0.2s;
}

nav img{
    width: 230px;
    height: auto;
    position: relative;
    float: left;
    padding-left: 20px;
    padding-top: 0px;
    transition: 0.6s;
}

.box{
    height: 863px;
    width: 830px;
    padding-left: 40px;
    background-color: #64bff76b;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 43%;
    padding-left: 850px;
}

.border{
    height: 864px;
    width: 200%;
    padding-left: 40px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 43%;
    padding-left: 850px;
    border-bottom: solid #096FAE 5px;
}







.bakgrund{
    background: url(survey-1594962_1920.jpg) no-repeat 0 -100px;
    min-height: 790px;
    transform: scale(1.1);
    margin-left: 0;
    z-index: -2;
    filter: blur(3px);
    
}



#bild .slideshow{
  font-weight: bold;
  position: absolute;
  top: 43%;
  left: 22%;
  transform: translate(-50%, -50%);
  z-index: 2;
  float: left;
  font-size: 40px;
  line-height: 25px;
  padding-top: 175px;
  padding-bottom: 8%;
  padding-right: 140px;
  padding-left: 140px;
  color: #252525;
  
  
    
}
.highlight{
    color: #096FAE;
}
.namn{
    font-size: 30px;
    color:#2525259d;
    line-height: 10px;
}

nav ul li a:hover{
    color: #169EF3;
    letter-spacing: 3px;

}



nav.sticky{
    padding: 25px 100px;
    background-color: #f8f8ff;  
    
}
nav.sticky ul li a{
color: #252525;

}
nav.sticky ul li a:hover{
    color: #169EF3;
    letter-spacing: 3px;
}
.banner{
    position: relative;
    width: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding-right: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }


