nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 220px;
    padding-top: 42px;
    position: relative;
    margin-bottom: 0;
    
}
nav a{
    color: #252525;
    
}
nav{
    float:right;
}
.navbar{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    display: block;
    background-color: #ffcc00;
    top: 0;
}
.logo img{
    width: 200px;
    
}